body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    
	background: linear-gradient(to right, rgba(0, 225, 255, 0.411) , rgba(0, 0, 0, 0.486));  
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

button{
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
    outline:none;
    border: 2px solid seagreen ;
    transition: 0.5s;
    
}
button:hover{
    background-color: seagreen;
}

